<div class="cityWeatherBody">
  <i class="icon ion-md-arrow-round-back" (click)="goBack()"></i>
  <app-weather-card [weatherData]="weatherData" *ngIf="domFlag"></app-weather-card>
  <div *ngIf="errorFlag">
      <h4>Errr! Something Broke!</h4>  
  </div>

</div>

