.enterCityMain {
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}


.inputgroup {
    display: inline;
    margin: 2rem 0;
}
.inputgroup label {
    font-weight: 600;
    padding-right: 1rem;
}

.inputgroup input {
    border: solid 1px lightgray;
    padding: 0.5rem;        
}