<div class="enterCityMain">
  <i class="icon ion-md-arrow-round-back" (click)="goBack()"></i>
  <div class="inputgroup">
    <label for="enterCity">Enter City</label>
    <input id="enterCity" type="text" [(ngModel)]="city" (keyup.enter)="showCityWeather()">
  </div> 
  <button (click)="showCityWeather()">Get Weather</button>
  <p *ngIf="errorFlag">{{errorMessage}}</p>
</div>