<mat-card class="cardWrap">
    <mat-card-header >
        <mat-card-title>{{weatherData.name}}, {{weatherData.sys.country}}</mat-card-title>
        <mat-card-subtitle>Coords: {{weatherData.coord.lat}} / {{weatherData.coord.lon}}</mat-card-subtitle>
        
    </mat-card-header>
    <mat-card-content class="weatherCardMain">        
        <p>{{weatherData.weather[0].main}}</p>
        <p>Temperature: {{weatherData.main.temp | tempCentigrade}} &deg; C ({{weatherData.main.temp_min | tempCentigrade}} to {{weatherData.main.temp_max | tempCentigrade}} &deg; )</p>
        <p>Humidity: {{weatherData.main.humidity}} %</p>
        <p>Visibility: {{weatherData.visibility}} m</p>
        <p>Wind: {{weatherData.wind.speed | mpstokmph}} km/h</p>
        <p>Sunrise/Sunset: {{getDateObj(weatherData.sys.sunrise) | date:'shortTime'}} / {{getDateObj(weatherData.sys.sunset) | date:'shortTime'}}</p>        
    </mat-card-content>
    <mat-card-footer class="weatherCardFooter">
        <p style="text-align:right">{{getDateObj(weatherData.dt) | date:'medium'}}</p>
    </mat-card-footer>
</mat-card>