/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


button {
    background-color: #082b67;
    border: none;
    color: #ffffff;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;  
    cursor: pointer;
    box-shadow: 5px 5px 5px grey; 
    border-radius: 3px;
    max-width: 200px;
}

button:hover {
    background-color: #ffffff;
    color: #082b67;
    border: solid 2px #082b67;
}

i {
    font-size: 32px;        
    cursor: pointer;
}

